In [ ]:
# cell 0 
# 0 批量预览指定目录下多个空气质量相关 CSV 文件的基础结构，方便快速了解原始数据的概况，为后续数据分析做准备

import os
import pandas as pd

RAW_DIR = r"D:\ai_env\工业AI项目1：园区 站点空气异常审计\data\raw"

files = {
    "sites": "(站点列表)aqs_sites.csv",
    "monitors": "(监视器列表)aqs_monitors.csv",
    "PM25": "(PM2.5)hourly_88101_2024.csv",
    "O3": "(臭氧O3)hourly_44201_2024.csv",
    "NO2": "(二氧化氮NO2)hourly_42602_2024.csv",
    "SO2": "(二氧化硫SO2)hourly_42401_2024.csv",
    "CO": "(一氧化碳CO)hourly_42101_2024.csv",
}

In [2]:
# cell 1 
# 1 定义函数，预览原始数据文件

def peek_columns(file_key, nrows=5):
    path = os.path.join(RAW_DIR, files[file_key])
    df = pd.read_csv(path, nrows=nrows)
    print("="*80)
    print(file_key, "->", files[file_key])
    print("shape(sample):", df.shape)
    print("columns:", list(df.columns))
    display(df.head(3))

for k in files:
    peek_columns(k, nrows=5)

================================================================================
sites -> (站点列表)aqs_sites.csv
shape(sample): (5, 28)
columns: ['State Code', 'County Code', 'Site Number', 'Latitude', 'Longitude', 'Datum', 'Elevation', 'Land Use', 'Location Setting', 'Site Established Date', 'Site Closed Date', 'Met Site State Code', 'Met Site County Code', 'Met Site Site Number', 'Met Site Type', 'Met Site Distance', 'Met Site Direction', 'GMT Offset', 'Owning Agency', 'Local Site Name', 'Address', 'Zip Code', 'State Name', 'County Name', 'City Name', 'CBSA Name', 'Tribe Name', 'Extraction Date']

,State Code,County Code,Site Number,Latitude,Longitude,Datum,Elevation,Land Use,Location Setting,Site Established Date,...,Owning Agency,Local Site Name,Address,Zip Code,State Name,County Name,City Name,CBSA Name,Tribe Name,Extraction Date
0,1,1,1,32.437458,-86.472891,WGS84,64,RESIDENTIAL,SUBURBAN,1974-05-01,...,Al Dept Of Env Mgt,NaN,"KING ARTHUR TRAILER COURT, PRATTVILLE,AL",36067.0,Alabama,Autauga,Prattville,"Montgomery, AL",NaN,2025-11-25
1,1,1,2,32.428470,-86.443585,WGS84,0,AGRICULTURAL,RURAL,1980-01-01,...,Al Dept Of Env Mgt,NaN,COUNTY RD 4 PRATTVILLE EXPERIMENT ST,NaN,Alabama,Autauga,Prattville,"Montgomery, AL",NaN,2025-11-25
2,1,1,3,32.332659,-86.791521,WGS84,41,FOREST,RURAL,1989-08-31,...,Al Dept Of Env Mgt,NaN,"1170 COUNTY RD.15 SO., SELMA, AL. 36701",36003.0,Alabama,Autauga,Not in a City,"Montgomery, AL",NaN,2025-11-25

================================================================================
monitors -> (监视器列表)aqs_monitors.csv
shape(sample): (5, 32)
columns: ['State Code', 'County Code', 'Site Number', 'Parameter Code', 'Parameter Name', 'POC', 'Latitude', 'Longitude', 'Datum', 'First Year of Data', 'Last Sample Date', 'Monitor Type', 'Networks', 'Reporting Agency', 'PQAO', 'Collecting Agency', 'Exclusions', 'Monitoring Objective', 'Last Method Code', 'Last Method', 'Measurement Scale', 'Measurement Scale Definition', 'NAAQS Primary Monitor', 'QA Primary Monitor', 'Local Site Name', 'Address', 'State Name', 'County Name', 'City Name', 'CBSA Name', 'Tribe Name', 'Extraction Date']

,State Code,County Code,Site Number,Parameter Code,Parameter Name,POC,Latitude,Longitude,Datum,First Year of Data,...,NAAQS Primary Monitor,QA Primary Monitor,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Tribe Name,Extraction Date
0,1,1,1,11103,Benzene soluble organics (TSP),1,32.437458,-86.472891,WGS84,1974,...,NaN,NaN,NaN,"KING ARTHUR TRAILER COURT, PRATTVILLE,AL",Alabama,Autauga,Prattville,"Montgomery, AL",NaN,2025-11-25
1,1,1,1,42401,Sulfur dioxide,1,32.437458,-86.472891,WGS84,1974,...,NaN,NaN,NaN,"KING ARTHUR TRAILER COURT, PRATTVILLE,AL",Alabama,Autauga,Prattville,"Montgomery, AL",NaN,2025-11-25
2,1,1,2,42401,Sulfur dioxide,1,32.428470,-86.443585,WGS84,1980,...,NaN,NaN,NaN,COUNTY RD 4 PRATTVILLE EXPERIMENT ST,Alabama,Autauga,Prattville,"Montgomery, AL",NaN,2025-11-25

================================================================================
PM25 -> (PM2.5)hourly_88101_2024.csv
shape(sample): (5, 24)
columns: ['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC', 'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Date Local', 'Time Local', 'Date GMT', 'Time GMT', 'Sample Measurement', 'Units of Measure', 'MDL', 'Uncertainty', 'Qualifier', 'Method Type', 'Method Code', 'Method Name', 'State Name', 'County Name', 'Date of Last Change']

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Date Local,...,Units of Measure,MDL,Uncertainty,Qualifier,Method Type,Method Code,Method Name,State Name,County Name,Date of Last Change
0,1,3,10,88101,3,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,2024-01-02,...,Micrograms/cubic meter (LC),5,NaN,NaN,FEM,209,Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM...,Alabama,Baldwin,2024-07-19
1,1,3,10,88101,3,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,2024-01-02,...,Micrograms/cubic meter (LC),5,NaN,NaN,FEM,209,Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM...,Alabama,Baldwin,2024-07-19
2,1,3,10,88101,3,30.497478,-87.880258,NAD83,PM2.5 - Local Conditions,2024-01-02,...,Micrograms/cubic meter (LC),5,NaN,NaN,FEM,209,Met One BAM-1022 Mass Monitor w/ VSCC or TE-PM...,Alabama,Baldwin,2024-07-19

================================================================================
O3 -> (臭氧O3)hourly_44201_2024.csv
shape(sample): (5, 24)
columns: ['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC', 'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Date Local', 'Time Local', 'Date GMT', 'Time GMT', 'Sample Measurement', 'Units of Measure', 'MDL', 'Uncertainty', 'Qualifier', 'Method Type', 'Method Code', 'Method Name', 'State Name', 'County Name', 'Date of Last Change']

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Date Local,...,Units of Measure,MDL,Uncertainty,Qualifier,Method Type,Method Code,Method Name,State Name,County Name,Date of Last Change
0,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,2024-03-01,...,Parts per million,0.005,NaN,NaN,FEM,87,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,Alabama,Baldwin,2024-07-19
1,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,2024-03-01,...,Parts per million,0.005,NaN,NaN,FEM,87,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,Alabama,Baldwin,2024-07-19
2,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,2024-03-01,...,Parts per million,0.005,NaN,NaN,FEM,87,INSTRUMENTAL - ULTRA VIOLET ABSORPTION,Alabama,Baldwin,2024-07-19

================================================================================
NO2 -> (二氧化氮NO2)hourly_42602_2024.csv
shape(sample): (5, 24)
columns: ['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC', 'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Date Local', 'Time Local', 'Date GMT', 'Time GMT', 'Sample Measurement', 'Units of Measure', 'MDL', 'Uncertainty', 'Qualifier', 'Method Type', 'Method Code', 'Method Name', 'State Name', 'County Name', 'Date of Last Change']

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Date Local,...,Units of Measure,MDL,Uncertainty,Qualifier,Method Type,Method Code,Method Name,State Name,County Name,Date of Last Change
0,1,73,23,42602,1,33.553056,-86.815,WGS84,Nitrogen dioxide (NO2),2024-01-01,...,Parts per billion,0.1,NaN,6,FEM,200,Teledyne-API Model 200EUP or T200UP - Photolyt...,Alabama,Jefferson,2025-04-04
1,1,73,23,42602,1,33.553056,-86.815,WGS84,Nitrogen dioxide (NO2),2024-01-01,...,Parts per billion,0.1,NaN,6,FEM,200,Teledyne-API Model 200EUP or T200UP - Photolyt...,Alabama,Jefferson,2025-04-04
2,1,73,23,42602,1,33.553056,-86.815,WGS84,Nitrogen dioxide (NO2),2024-01-01,...,Parts per billion,0.1,NaN,6,FEM,200,Teledyne-API Model 200EUP or T200UP - Photolyt...,Alabama,Jefferson,2025-04-04

================================================================================
SO2 -> (二氧化硫SO2)hourly_42401_2024.csv
shape(sample): (5, 24)
columns: ['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC', 'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Date Local', 'Time Local', 'Date GMT', 'Time GMT', 'Sample Measurement', 'Units of Measure', 'MDL', 'Uncertainty', 'Qualifier', 'Method Type', 'Method Code', 'Method Name', 'State Name', 'County Name', 'Date of Last Change']

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Date Local,...,Units of Measure,MDL,Uncertainty,Qualifier,Method Type,Method Code,Method Name,State Name,County Name,Date of Last Change
0,1,73,23,42401,2,33.553056,-86.815,WGS84,Sulfur dioxide,2024-01-01,...,Parts per billion,0.4,NaN,6,FEM,100,INSTRUMENTAL - ULTRAVIOLET FLUORESCENCE,Alabama,Jefferson,2025-04-04
1,1,73,23,42401,2,33.553056,-86.815,WGS84,Sulfur dioxide,2024-01-01,...,Parts per billion,0.4,NaN,6,FEM,100,INSTRUMENTAL - ULTRAVIOLET FLUORESCENCE,Alabama,Jefferson,2025-04-04
2,1,73,23,42401,2,33.553056,-86.815,WGS84,Sulfur dioxide,2024-01-01,...,Parts per billion,0.4,NaN,6,FEM,100,INSTRUMENTAL - ULTRAVIOLET FLUORESCENCE,Alabama,Jefferson,2025-04-04

================================================================================
CO -> (一氧化碳CO)hourly_42101_2024.csv
shape(sample): (5, 24)
columns: ['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC', 'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Date Local', 'Time Local', 'Date GMT', 'Time GMT', 'Sample Measurement', 'Units of Measure', 'MDL', 'Uncertainty', 'Qualifier', 'Method Type', 'Method Code', 'Method Name', 'State Name', 'County Name', 'Date of Last Change']

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Date Local,...,Units of Measure,MDL,Uncertainty,Qualifier,Method Type,Method Code,Method Name,State Name,County Name,Date of Last Change
0,1,73,23,42101,2,33.553056,-86.815,WGS84,Carbon monoxide,2024-01-01,...,Parts per million,0.5,NaN,6,FRM,93,INSTRUMENTAL - GAS FILTER CORRELATION CO ANALYZER,Alabama,Jefferson,2025-04-04
1,1,73,23,42101,2,33.553056,-86.815,WGS84,Carbon monoxide,2024-01-01,...,Parts per million,0.5,NaN,6,FRM,93,INSTRUMENTAL - GAS FILTER CORRELATION CO ANALYZER,Alabama,Jefferson,2025-04-04
2,1,73,23,42101,2,33.553056,-86.815,WGS84,Carbon monoxide,2024-01-01,...,Parts per million,0.5,NaN,6,FRM,93,INSTRUMENTAL - GAS FILTER CORRELATION CO ANALYZER,Alabama,Jefferson,2025-04-04

In [3]:
# cell 2 
# 1.1 加载站点表 + 筛 Houston 工业区范围（Ship Channel）

import numpy as np

sites_path = os.path.join(RAW_DIR, files["sites"])
sites = pd.read_csv(sites_path)

print("sites shape:", sites.shape)
print("sites columns:", list(sites.columns))
display(sites.head(3))

sites shape: (20952, 28)
sites columns: ['State Code', 'County Code', 'Site Number', 'Latitude', 'Longitude', 'Datum', 'Elevation', 'Land Use', 'Location Setting', 'Site Established Date', 'Site Closed Date', 'Met Site State Code', 'Met Site County Code', 'Met Site Site Number', 'Met Site Type', 'Met Site Distance', 'Met Site Direction', 'GMT Offset', 'Owning Agency', 'Local Site Name', 'Address', 'Zip Code', 'State Name', 'County Name', 'City Name', 'CBSA Name', 'Tribe Name', 'Extraction Date']

,State Code,County Code,Site Number,Latitude,Longitude,Datum,Elevation,Land Use,Location Setting,Site Established Date,...,Owning Agency,Local Site Name,Address,Zip Code,State Name,County Name,City Name,CBSA Name,Tribe Name,Extraction Date
0,01,1,1,32.437458,-86.472891,WGS84,64.0,RESIDENTIAL,SUBURBAN,1974-05-01,...,Al Dept Of Env Mgt,NaN,"KING ARTHUR TRAILER COURT, PRATTVILLE,AL",36067.0,Alabama,Autauga,Prattville,"Montgomery, AL",NaN,2025-11-25
1,01,1,2,32.428470,-86.443585,WGS84,0.0,AGRICULTURAL,RURAL,1980-01-01,...,Al Dept Of Env Mgt,NaN,COUNTY RD 4 PRATTVILLE EXPERIMENT ST,NaN,Alabama,Autauga,Prattville,"Montgomery, AL",NaN,2025-11-25
2,01,1,3,32.332659,-86.791521,WGS84,41.0,FOREST,RURAL,1989-08-31,...,Al Dept Of Env Mgt,NaN,"1170 COUNTY RD.15 SO., SELMA, AL. 36701",36003.0,Alabama,Autauga,Not in a City,"Montgomery, AL",NaN,2025-11-25

In [4]:
# 1.1 经纬度列名一律转小写  找经纬度列名（不同版本可能叫法不同） 常见列名：Latitude / Longitude
lat_col = None
lon_col = None

for c in sites.columns:
    if c.lower() == "latitude":
        lat_col = c
    if c.lower() == "longitude":
        lon_col = c

print("lat_col:", lat_col, "lon_col:", lon_col)

lat_col: Latitude lon_col: Longitude

In [5]:
# Cell 3 只筛 Texas（先别急着算距离）
# 2 只筛 Texas 站点（不涉及地理计算）

sites_tx = sites[sites["State Name"] == "Texas"].copy()

print("Texas sites shape:", sites_tx.shape)
display(sites_tx[["State Name", "County Name", "City Name"]].head(10))

Texas sites shape: (811, 28)

      State Name County Name      City Name
17305      Texas    Angelina         Diboll
17306      Texas    Atascosa          Lytle
17307      Texas         Bee       Beeville
17308      Texas        Bell         Temple
17309      Texas        Bell         Temple
17310      Texas        Bell        Killeen
17311      Texas       Bexar  Not in a city
17312      Texas       Bexar  Not in a city
17313      Texas       Bexar  Not in a City
17314      Texas       Bexar  Not in a City

In [6]:
# Cell 4 再筛 Houston 周边 4 个县（工业带核心）
# 3 Houston 工业区核心县

target_counties = {"Harris", "Galveston", "Chambers", "Brazoria"}

sites_hou = sites_tx[sites_tx["County Name"].isin(target_counties)].copy()

print("Houston-area sites shape:", sites_hou.shape)
display(
    sites_hou[
        ["County Name", "City Name", "Land Use", "Location Setting"]
    ].head(20)
)

Houston-area sites shape: (177, 28)

,County Name,City Name,Land Use,Location Setting
17379,Brazoria,Alvin,RESIDENTIAL,SUBURBAN
17380,Brazoria,Clute (corporate name for Clute City),RESIDENTIAL,SUBURBAN
17381,Brazoria,Clute (corporate name for Clute City),RESIDENTIAL,SUBURBAN
17382,Brazoria,Clute (corporate name for Clute City),COMMERCIAL,SUBURBAN
17383,Brazoria,Manvel,RESIDENTIAL,SUBURBAN
17384,Brazoria,Freeport,RESIDENTIAL,SUBURBAN
17385,Brazoria,Lake Jackson,INDUSTRIAL,SUBURBAN
17414,Chambers,Not in a city,UNKNOWN,UNKNOWN
17415,Chambers,Mont Belvieu,RESIDENTIAL,SUBURBAN
17416,Chambers,Anahuac,RESIDENTIAL,SUBURBAN
17417,Chambers,Winnie,COMMERCIAL,SUBURBAN
17418,Chambers,Anahuac,RESIDENTIAL,SUBURBAN
17419,Chambers,Not in a city,AGRICULTURAL,RURAL
17420,Chambers,Baytown,AGRICULTURAL,RURAL
17421,Chambers,Not in a city,AGRICULTURAL,RURAL
17422,Chambers,Not in a city,AGRICULTURAL,RURAL
17615,Galveston,Dickinson,COMMERCIAL,SUBURBAN
17616,Galveston,Galveston,RESIDENTIAL,RURAL
17617,Galveston,Galveston,RESIDENTIAL,URBAN AND CENTER CITY
17618,Galveston,Texas City,RESIDENTIAL,URBAN AND CENTER CITY

In [7]:
# Cell 5：最后一刀 —— 距离 Ship Channel（核心工业区）

from math import radians, sin, cos, sqrt, atan2

def haversine_km(lat1, lon1, lat2, lon2):
    R = 6371.0
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = sin(dlat/2)**2 + cos(lat1)*cos(lat2)*sin(dlon/2)**2
    c = 2 * atan2(sqrt(a), sqrt(1-a))
    return R * c

# Houston Ship Channel 核心参考点（固定）
center_lat, center_lon = 29.74, -95.20
radius_km = 30

sites_hou = sites_hou.dropna(subset=["Latitude", "Longitude"]).copy()

sites_hou["dist_km"] = sites_hou.apply(
    lambda r: haversine_km(center_lat, center_lon, r["Latitude"], r["Longitude"]),
    axis=1
)

sites_industrial_zone = sites_hou[sites_hou["dist_km"] <= radius_km].copy()
sites_industrial_zone = sites_industrial_zone.sort_values("dist_km")

print("Industrial zone sites:", sites_industrial_zone.shape)
display(
    sites_industrial_zone[
        ["County Name", "City Name", "Land Use", "Location Setting", "dist_km"]
    ].head(30)
)

Industrial zone sites: (114, 29)

      County Name      City Name     Land Use       Location Setting   dist_km
17680      Harris        Houston   INDUSTRIAL               SUBURBAN  0.701866
17678      Harris        Houston   INDUSTRIAL               SUBURBAN  1.478267
17679      Harris  Not in a city   INDUSTRIAL               SUBURBAN  2.543724
17775      Harris       Pasadena   COMMERCIAL               SUBURBAN  2.594511
17725      Harris       Pasadena   COMMERCIAL  URBAN AND CENTER CITY  2.618123
17748      Harris        Houston   INDUSTRIAL               SUBURBAN  2.706822
17777      Harris       Pasadena   COMMERCIAL               SUBURBAN  3.230037
17676      Harris        Houston   INDUSTRIAL               SUBURBAN  3.295478
17760      Harris       Pasadena   INDUSTRIAL  URBAN AND CENTER CITY  3.386770
17732      Harris        Houston   INDUSTRIAL               SUBURBAN  3.448168
17685      Harris  Not in a city   INDUSTRIAL               SUBURBAN  3.563784
17705      Harris        Houston   INDUSTRIAL               SUBURBAN  3.649575
17751      Harris        Houston   COMMERCIAL               SUBURBAN  3.693140
17712      Harris    Galena Park   INDUSTRIAL  URBAN AND CENTER CITY  3.763344
17765      Harris    Galena Park      UNKNOWN                UNKNOWN  3.778798
17764      Harris    Galena Park          NaN                    NaN  4.023936
17677      Harris        Houston   INDUSTRIAL               SUBURBAN  4.370587
17768      Harris       Pasadena      UNKNOWN                UNKNOWN  5.017585
17691      Harris  Not in a city      UNKNOWN                UNKNOWN  5.104952
17708      Harris        Houston  RESIDENTIAL               SUBURBAN  5.312097
17773      Harris   Jacinto City   INDUSTRIAL               SUBURBAN  5.439680
17752      Harris        Houston   INDUSTRIAL  URBAN AND CENTER CITY  5.604308
17729      Harris        Houston   INDUSTRIAL               SUBURBAN  6.246679
17723      Harris        Houston  RESIDENTIAL               SUBURBAN  6.995020
17707      Harris        Houston   INDUSTRIAL               SUBURBAN  7.505558
17682      Harris        Houston   INDUSTRIAL               SUBURBAN  7.566640
17735      Harris      Deer Park   INDUSTRIAL               SUBURBAN  7.779610
17740      Harris       Pasadena      UNKNOWN                UNKNOWN  7.808066
17719      Harris        Houston   INDUSTRIAL               SUBURBAN  8.039743
17781      Harris        Houston   COMMERCIAL               SUBURBAN  8.066676

In [8]:
# Cell 6 生成站点 ID（非常重要）

# 6 生成 AQS 标准站点唯一 ID（后面 join 用）

sites_industrial_zone["site_id"] = (
    sites_industrial_zone["State Code"].astype(str).str.zfill(2)
    + "-"
    + sites_industrial_zone["County Code"].astype(str).str.zfill(3)
    + "-"
    + sites_industrial_zone["Site Number"].astype(str).str.zfill(4)
)

display(
    sites_industrial_zone[
        ["site_id", "County Name", "City Name", "Land Use", "dist_km"]
    ].head(10)
)

print("unique site_id:", sites_industrial_zone["site_id"].nunique())

           site_id County Name      City Name    Land Use   dist_km
17680  48-201-0019      Harris        Houston  INDUSTRIAL  0.701866
17678  48-201-0017      Harris        Houston  INDUSTRIAL  1.478267
17679  48-201-0018      Harris  Not in a city  INDUSTRIAL  2.543724
17775  48-201-4003      Harris       Pasadena  COMMERCIAL  2.594511
17725  48-201-0071      Harris       Pasadena  COMMERCIAL  2.618123
17748  48-201-1028      Harris        Houston  INDUSTRIAL  2.706822
17777  48-201-5002      Harris       Pasadena  COMMERCIAL  3.230037
17676  48-201-0015      Harris        Houston  INDUSTRIAL  3.295478
17760  48-201-1049      Harris       Pasadena  INDUSTRIAL  3.386770
17732  48-201-0803      Harris        Houston  INDUSTRIAL  3.448168

unique site_id: 114

In [ ]:
# Cell 7 把这份清单存下来（以后不用再算）

# 7 保存工业区站点清单（后面所有分析都复用）

OUT_DIR = r"D:\ai_env\工业AI项目1：园区 站点空气异常审计\data\processed"
os.makedirs(OUT_DIR, exist_ok=True)

sites_industrial_zone.to_csv(
    os.path.join(OUT_DIR, "houston_industrial_sites.csv"),
    index=False
)

print("Saved: houston_industrial_sites.csv")

Saved: houston_industrial_sites.csv

In [ ]:
# 在 Notebook 新开一个 Cell，只列目录，不读文件：用于判断后续的代码怎么写

import os

RAW_DIR = r"D:\ai_env\工业AI项目1：园区 站点空气异常审计\data\raw"

files = os.listdir(RAW_DIR)
files

['(PM2.5)hourly_88101_2024.csv',
 '(一氧化碳CO)hourly_42101_2024.csv',
 '(二氧化氮NO2)hourly_42602_2024.csv',
 '(二氧化硫SO2)hourly_42401_2024.csv',
 '(监视器列表)aqs_monitors.csv',
 '(站点列表)aqs_sites.csv',
 '(臭氧O3)hourly_44201_2024.csv',
 '压缩包']

In [ ]:
# 1.2 过滤 Texas + 4 个县（Houston 工业带核心）  （老代码）这后面的代码应该可以删掉了
def load_hourly_filtered(file_key, usecols=None):
    path = os.path.join(RAW_DIR, files[file_key])

    # 如果你不确定列名，先不传 usecols，让它读 5 行看列名
    sample = pd.read_csv(path, nrows=5)
    cols = list(sample.columns)
    print(file_key, "columns:", cols)

    # 常见关键列名（AQS hourly 通常是这些）
    needed = [
        "State Code", "County Code", "Site Num",
        "Date Local", "Time Local",
        "Sample Measurement",
        "Units of Measure",
        "Parameter Name"
    ]

    # 有些版本叫 Site Number 而不是 Site Num
    # 所以我们做一个映射
    col_map = {}
    if "Site Num" in cols:
        col_map["site_col"] = "Site Num"
    elif "Site Number" in cols:
        col_map["site_col"] = "Site Number"
    else:
        raise ValueError("找不到站点列：Site Num / Site Number")

    # 只保留存在的列
    needed_exist = [c for c in needed if c in cols]
    print("using cols:", needed_exist)

    df = pd.read_csv(path, usecols=needed_exist)

    # 标准化 site_id
    df["State Code"] = df["State Code"].astype(str).str.zfill(2)
    df["County Code"] = df["County Code"].astype(str).str.zfill(3)
    df[col_map["site_col"]] = df[col_map["site_col"]].astype(str).str.zfill(4)

    df["site_id"] = df["State Code"] + "-" + df["County Code"] + "-" + df[col_map["site_col"]]

    # 过滤目标站点
    df = df[df["site_id"].isin(target_site_ids)].copy()

    # 组合时间戳
    df["datetime_local"] = pd.to_datetime(df["Date Local"] + " " + df["Time Local"], errors="coerce")

    # 转成数值
    df["value"] = pd.to_numeric(df["Sample Measurement"], errors="coerce")

    # 清理
    df = df.dropna(subset=["datetime_local", "value"])
    return df

pm25 = load_hourly_filtered("PM25")
print(pm25.shape)
display(pm25.head(5))

In [ ]:
# 1.3 用距离筛：Ship Channel 30km 半径 中心点先定好（先别纠结精确）：

29.74, -95.20
from math import radians, sin, cos, sqrt, atan2

def haversine_km(lat1, lon1, lat2, lon2):
    R = 6371.0
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = sin(dlat/2)**2 + cos(lat1)*cos(lat2)*sin(dlon/2)**2
    c = 2 * atan2(sqrt(a), sqrt(1-a))
    return R * c

center_lat, center_lon = 29.74, -95.20
radius_km = 30

sites_hou_area = sites_hou_area.dropna(subset=[lat_col, lon_col]).copy()
sites_hou_area["dist_km"] = sites_hou_area.apply(
    lambda r: haversine_km(center_lat, center_lon, r[lat_col], r[lon_col]),
    axis=1
)

sites_industrial_zone = sites_hou_area[sites_hou_area["dist_km"] <= radius_km].copy()
sites_industrial_zone = sites_industrial_zone.sort_values("dist_km")

print("sites_industrial_zone:", sites_industrial_zone.shape)
display(sites_industrial_zone[["County Name","City Name", lat_col, lon_col, "dist_km"]].head(30))

In [ ]:
# 2 拿到“目标站点ID列表”（后面所有 hourly 数据都只保留这些站）
# AQS 的站点唯一标识通常是：
# State Code
# County Code
# Site Num
# 我们做一个标准化的 site_id = state-county-site。
 
key_cols = ["State Code", "County Code", "Site Number"]
print("key cols exist:", [c for c in key_cols if c in sites_industrial_zone.columns])
 
# 如果你的表里叫 Site Num 或 Site ID，我们再改。先写一个兼容版：

def build_site_id(df, state_col="State Code", county_col="County Code", site_col="Site Number"):
    out = df.copy()
    out[state_col] = out[state_col].astype(str).str.zfill(2)
    out[county_col] = out[county_col].astype(str).str.zfill(3)
    out[site_col] = out[site_col].astype(str).str.zfill(4)
    out["site_id"] = out[state_col] + "-" + out[county_col] + "-" + out[site_col]
    return out

sites_industrial_zone = build_site_id(sites_industrial_zone,
                                      state_col="State Code",
                                      county_col="County Code",
                                      site_col="Site Number")

target_site_ids = set(sites_industrial_zone["site_id"].unique())

print("target_site_ids count:", len(target_site_ids))
list(sorted(target_site_ids))[:10]

In [ ]:
# 读取 hourly 大文件：只读需要的列 + 只保留目标站点
# 我们先做一个函数：只读关键列，然后筛站点。

def load_hourly_filtered(file_key, usecols=None):
    path = os.path.join(RAW_DIR, files[file_key])

    # 如果你不确定列名，先不传 usecols，让它读 5 行看列名
    sample = pd.read_csv(path, nrows=5)
    cols = list(sample.columns)
    print(file_key, "columns:", cols)

    # 常见关键列名（AQS hourly 通常是这些）
    needed = [
        "State Code", "County Code", "Site Num",
        "Date Local", "Time Local",
        "Sample Measurement",
        "Units of Measure",
        "Parameter Name"
    ]

    # 有些版本叫 Site Number 而不是 Site Num
    # 所以我们做一个映射
    col_map = {}
    if "Site Num" in cols:
        col_map["site_col"] = "Site Num"
    elif "Site Number" in cols:
        col_map["site_col"] = "Site Number"
    else:
        raise ValueError("找不到站点列：Site Num / Site Number")

    # 只保留存在的列
    needed_exist = [c for c in needed if c in cols]
    print("using cols:", needed_exist)

    df = pd.read_csv(path, usecols=needed_exist)

    # 标准化 site_id
    df["State Code"] = df["State Code"].astype(str).str.zfill(2)
    df["County Code"] = df["County Code"].astype(str).str.zfill(3)
    df[col_map["site_col"]] = df[col_map["site_col"]].astype(str).str.zfill(4)

    df["site_id"] = df["State Code"] + "-" + df["County Code"] + "-" + df[col_map["site_col"]]

    # 过滤目标站点
    df = df[df["site_id"].isin(target_site_ids)].copy()

    # 组合时间戳
    df["datetime_local"] = pd.to_datetime(df["Date Local"] + " " + df["Time Local"], errors="coerce")

    # 转成数值
    df["value"] = pd.to_numeric(df["Sample Measurement"], errors="coerce")

    # 清理
    df = df.dropna(subset=["datetime_local", "value"])
    return df

pm25 = load_hourly_filtered("PM25")
print(pm25.shape)
display(pm25.head(5))

In [ ]:
# 4 做异常审计（第一版：Spike + Jump）

def audit_anomalies(df, pollutant_name="PM2.5"):
    # df 必须包含：site_id, datetime_local, value
    out = df.copy()
    out = out.sort_values(["site_id", "datetime_local"])

    # 每站点计算分位数阈值
    q99 = out.groupby("site_id")["value"].quantile(0.99).rename("q99")
    out = out.join(q99, on="site_id")

    # Spike
    out["is_spike"] = out["value"] >= out["q99"]

    # Jump（相邻小时差分）
    out["prev_value"] = out.groupby("site_id")["value"].shift(1)
    out["diff"] = (out["value"] - out["prev_value"]).abs()

    # Jump阈值：每站点 diff 的 99分位
    d99 = out.groupby("site_id")["diff"].quantile(0.99).rename("d99")
    out = out.join(d99, on="site_id")
    out["is_jump"] = out["diff"] >= out["d99"]

    # 输出异常事件
    events = out[out["is_spike"] | out["is_jump"]].copy()
    events["pollutant"] = pollutant_name

    # 异常评分（简单粗暴但有效）
    events["score"] = 0
    events.loc[events["is_spike"], "score"] += 1
    events.loc[events["is_jump"], "score"] += 1
    events["score"] += (events["value"] / (events["q99"] + 1e-9))  # 相对强度

    events = events.sort_values(["score"], ascending=False)
    return events

pm25_events = audit_anomalies(pm25, "PM2.5")
print("pm25_events:", pm25_events.shape)
display(pm25_events.head(30)[["site_id","datetime_local","value","q99","diff","d99","is_spike","is_jump","score"]])

In [ ]:
# 5 导出结果（你要的“审计输出物”）

out_path = r"D:\ai_env\工业AI项目1：园区 站点空气异常审计\data\output"
os.makedirs(out_path, exist_ok=True)

pm25_events.to_csv(os.path.join(out_path, "events_pm25_2024_hou_industrial.csv"), index=False)
print("saved:", os.path.join(out_path, "events_pm25_2024_hou_industrial.csv"))